.header {
    background: #ffcd37 !important;
    color: white
}

.rowborder {
    border-bottom: solid #ffcd37 !important;
}

ion-col{
    padding: 0px 1px !important;
}

ion-grid{
    font-size: 12px !important;
    font-weight: bold !important;
}