<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card *ngIf="schedule">
    <ion-card-header>
      <ion-card-title>{{schedule.dept}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          Phone : {{schedule.phone}}
        </ion-item>
        <ion-item lines="none">
          Office : {{schedule.office}}
        </ion-item>
        <ion-item *ngIf="schedule.time.both != '' " lines="none">
          Office Hours : {{schedule.time.both}}
        </ion-item>
        <ion-item *ngIf="schedule.time.mmw != '' " lines="none">
          Office Hours: MWF: {{schedule.time.mmw}}
          Office Hours: TR: {{schedule.time.TR}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-grid no-padding>
    <ion-row class="header">
      <ion-col size="1">
        SUB
      </ion-col>
      <ion-col size="1">
        CRS
      </ion-col>
      <ion-col size="1">
        SEC
      </ion-col>
      <ion-col size="4">
        Course Title
      </ion-col>
      <ion-col size="1">
        Days
      </ion-col>
      <ion-col size="1">
        Start
      </ion-col>
      <ion-col size="1">
        Stop
      </ion-col>
      <ion-col size="2">
        Room
      </ion-col>

    </ion-row>
    <ion-row class="rowborder" *ngFor="let entry of schedule.classSchedule">
      <ion-col size="1">
        {{entry.Sub}}
      </ion-col>
      <ion-col size="1">
        {{entry.Crs}}
      </ion-col>
      <ion-col size="1">
        {{entry.Sec}}
      </ion-col>
      <ion-col size="4">
        {{entry.CourseTitle}}
      </ion-col>
      <ion-col size="1">
        {{entry.Days}}
      </ion-col>
      <ion-col size="1">
        {{entry.Start}}
      </ion-col>
      <ion-col size="1">
        {{entry.Stop}}
      </ion-col>
      <ion-col size="2">
        {{entry.Room}}
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>